<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats du comptage de mots</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Résultats du fichier <%= outputFileName %></h1>
        <div class="results">
            <pre><%= wordCountResults %></pre>
        </div>
    </div>
</body>
</html>